body{
    background-color: silver;
}

h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
    }

header{
    background-color: whitesmoke;
    padding: 80px;
    box-shadow: 0 0 4px black;
}


header li{
    display: inline;
    list-style-type: none;
    float: left;
    width: 150px;
    padding: 30px;
}

header li a{
    text-decoration: none; 
    color: #333;
    padding: 10px;
}

header li a:hover{
    color: royalblue;
    
}


.names{
    float: right;
    text-align: left;
    border: 3px;
    font-size: 30px;
}