form{
    border-radius: 10px;
    margin-left: 20px;
    width: 550px;
    padding: 10px;
    border: 2px solid black;
}
div{
    white-space: pre-line;
}
button:hover{
    cursor:cell;
    color: red;
    font-weight: bold;
    background-color: black;
}
header{
    position: fixed;
}
header *{
    display: inline;
}
header li {
    margin: 20px;
}
header li a{
    color: black;
    text-decoration: none;
}